remote_host 'twews.com'
remote_user 'root'

git_url 'git://github.com/Paxa/sunraise_test_app.git'

deploy_to '/tmp/deploy/suntest'
then_link_to '/tmp/www/suntest'

shared_dirs 'public/stylesheets' => 'css', 'public/javascript' => 'js'
linked_dirs ['logs', 'tmp']

local_project_path "/home/paxa/Dropbox/sunraise/test/suntest"
